
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLoginAdmin.cshtml";
}

@using (Html.BeginForm("DoLogin", "Auth", FormMethod.Post))
      {
        <div class="form-login-admin">
            <form>
                @Html.Raw(ViewBag.Error)
                <div class="form-group">
                    <label for="username">Tên đăng nhập: </label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Tên đăng nhập" />
                </div>

                <div class="form-group">
                    <label for="pw">Mật khẩu: </label>
                    <input type="password" id="pw" name="pw" class="form-control" placeholder="Mật khẩu" />
                </div>

                <input type="submit" value="Đăng nhập" class="btn btn-primary" />
            </form>
        </div>    
      }


