@model IEnumerable<ShopThoiTrang.Models.CartItem>
@{
    ViewBag.Title = "NumberCart";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<li class="cart-number">
    <a>
        <i class="fal fa-cart-arrow-down"></i>
        <div class="number">
            <span>0</span>
        </div>
    </a>
</li>

