@model IEnumerable<ShopThoiTrang.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@section footer {
    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>
}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Hexashop</h4>
                            <div class="main-border-button">
                                <a href="#">Đến cửa hàng</a>
                            </div>

                        </div>
                        <img src="~/Public/images/product/Qua-luu-niem-nguoi-nuoc-ngoai-1024x541.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Quà tặng sinh nhật</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Quà tặng sinh nhật</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Public/images/product/jp-souvenir_750_500.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Dành cho Nam</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Dành cho Nam</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Public/images/product/chopstick_750_510.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Dành cho Nữ</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Dành cho Nữ</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Public/images/product/paper-lanterns_750_563.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Thể loại khác</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Thể loại khác</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/Public/images/product/hand-fan_750_563.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
@foreach (var cat in Model)
{
    @Html.Action("ProductHome", "Trangchu", new { @catid = cat.Id, @namecat = cat.Name });
}
<!-- ***** Men Area Ends ***** -->
